.navbar-logo{
  width: 80px;
  height: auto;
}

.navbar-listitem{
  font-family: sans-serif;
  font-size: 1.1em;
}

.navbar-nav>li>a {
  padding: 15px 15px 0px 15px !important;
  color: #fff !important;
}

.navbar-default{
  background-color: #212121 !important;
}
