@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.Form{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.Form-form{
  width: 400px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 12px 18px 12px 18px;
}

.Form-title{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

.Form-button{
  background-color: #FFF;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  cursor: pointer;
  font-size: .9em;
  padding: 4px 16px 5px 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.FormRow{
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-bottom: 4%;
}

.FormRow-label,
.FormRow-input,
.Form-button,
.Form-labelLegend{
  font-family: 'Open Sans', sans-serif;
}

.FormRow-input{
  font-size: 1em;
}
